<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="icon" href="favicon.png" type="image/png">
    <title>Cùng nghe nhạc nào..</title>

    <style>
        #playem_video {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
</head>

<body>
    <div id="app"></div>
    <div id="playem_video"></div>

    <script>
        const serverURL = "<%- serverURL %>"
    </script>
    <script src="/jquery.min.js"></script>
    <script src="/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/assets/js/playem.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>