<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="icon" href="favicon.png" type="image/png">
    <title>Home</title>
</head>

<body>
    <div id="app"></div>

    <div id="playem_video"></div>

    <script src="/assets/js/playem-all.js"></script>

    <script>
        var YOUTUBE_API_KEY = "AIzaSyB_gyjrellrDFFW2BELstydonC0G8A2e5A";

        function logEvent (evtName) {
            this.on(evtName, (data) => console.log("event:", evtName, data)
        )}

        // init playem and players
        var playem = new Playem();
        playem.addPlayer(YoutubePlayer, {
            playerContainer: document.getElementById("playem_video"),
        });

        // init logging for all player events
        ["onPlay", "onReady", "onTrackChange", "onEnd", "onPause", "onTrackInfo", "onError"].forEach(logEvent.bind(playem));
    </script>

    <script src="/jquery.min.js"></script>
    <script src="/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>